{% extends "base.html" %}

{% block content %}
<h2>Latest posts</h2>

{% if posts|length == 0 %}
<p>No posts here!</p>
{% else %}

<ul>
  {% for post in posts %}
  <li>
    <h3><a href="/blog?id={{ post.id }}">{{ post.name }}</a></h3>
    <strong><p>{{ post.body }}</p></strong>
    <h6>Written by <a href="/?user={{ post.user_id }}">{{ post.user.username }}</a></h6>
  </li>
  {% endfor %}
</ul>

{% endif %}

<a href="/blog/newpost">Add A New Post!</a>
<br>
<a href="/">User List</a>

{% endblock %}